<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
   <h1>Все новости</h1> <!--(общее число новостей: {{ news|length }}) - это пока убрал%-->
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата
                </td>
                <td>
                    Содержание
                </td>
            </tr>
        {% for n in news %}
            <tr>
                <td>
                    <a href="{% url 'singlenew' n.id %}">{{ n.title|Censor }}</a>
                    <a href="{% url 'post_update' n.id %}"><u>Редактировать</u></a>
                    <a href="{% url 'post_delete' n.id %}"><u> Удалить </u></a>
                </td>
                <td>
                   {{ n.date_added|date:'d M Y' }}
                </td>
                <td>
                    {{ n.text|Censor|truncatewords:50 }}
                </td>
            </tr>
        {% endfor %}
        </table>
        <hr><a href="{% url 'post_create' %}">Добавить новую публикацию</a><hr>
        {% if is_paginated %}

        <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

{% endblock content %}